.footer{
  background-color: #293dafa8;
  padding: 1em;
  color: #FFFFFF;
  margin-top: 20.3%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}
.linkFooter:hover{
  cursor: pointer;
}
.tituloFooter{
  margin-top: 1%;
}
.legenda{
  display: flex ;
  flex-direction: column;
}

